<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Node.js Simple File Upload</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="wrapper">
        <header>File Uploader JavaScript</header>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input class="file-input" type="file" name="files" multiple hidden>
            <i class="fas fa-cloud-upload-alt"></i>
            <p>Browse Files to Upload</p>
        </form>
        <section class="progress-area"></section>
        <section class="uploaded-area"></section>
    </div>
    
    <script src="script.js"></script>
</body>
</html>
